@use "_variables.scss";
@use "_base.scss";
@use "_usertags.scss";
@use "_title.scss";
@use "_version.scss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');